body {
    margin:0;
    background-color:red;
}
.container .col{
    margin-left:5%;
}
#socialdiv a{
            padding-left:5%;
        }
/*#carouselSlides{
    height:600px;
}*/
/*.carousel-inner{
    height:600px;
}*/
#gallery .img-thumbnail{
            height:90%;
            width:100%;
}